
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400");
body{
	font-family: 'Noticia Text', serif;
	overflow:hidden;
	margin:none;
	&:before{
		content:'';
		background-blend-mode: multiply;
		mix-blend-mode: multiply;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		z-index: 0%;
		font-family: 'Lato';
	
	}
}

.button_marc {
  background-color: Transparent;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: none; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  outline: none;
  overflow: hidden;
  font-family: Lato;
  position: fixed;
  top: 170%;
  left: 100%;
  margin-right: 10px;
}

.button_mail {
  background-color: Transparent;
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: none; /* Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  outline: none;
  overflow: hidden;
  font-family: Lato;
  position: relative;
  text-align: center;
  margin-right: 10px;
}

button_marc.button:hover {
  text-decoration: none;
  background: #2198ff;
}

.photo {
    background: url("./photo/kev.jpg") no-repeat;
    background-size: 250px 250px;
	position: fixed;
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 35px;
    margin-bottom: 20px;
	border-radius: 50%;
    left: 65%;
}

.logo_vibot_bottom {
    background: url("./photo/Vibot_blank.png") no-repeat;
    background-size: 96px 35px;
	position: fixed;
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 35px;
    margin-bottom: 20px;
    left: 80.3%;
	top: 21.5%;
}

.logo_vibot_top {
    background: url("./photo/logo_vibot.png") no-repeat;
    background-size: 140px 133px;
	position: fixed;
    display: block;
    width: 250px;
    height: 250px;
    margin-top: 35px;
    margin-bottom: 20px;
    left: 79%;
	top: 5.5%;
}




h3 {
  color: white;
  font-weight: 200;
  font-family: Lato;
  position: fixed;
  bottom: 60%;
  left: 5%;
  width: 100%;
}

p1 {
	display: inline-block;
    margin: 10px 0;
    padding: 0px;
    border: none;
	font-family: Lato;
	font-size: 22px;
	color: white;
	width: 1500px;
	position: fixed;
	top: 50%;
	left: 8%;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

a {
  color: white;
  text-decoration: none; 
}


header {
  position: fixed;
  z-index: 1;
  width: 100%; }

.text-secondary {
  color: #307eff;
  font-size: 80px;  }
.text-primary {
  color: white;
  font-size: 80px; 
}

.intro{
	position: absolute;
	padding:200px;
	transform:translate(-50%, -50%);
	left:45%;
	top:15%;
	color:#fafafa;
	z-index: 1;
	width:100%;
	
	font-family: "Lato";
	h1{
		font-size: 40px;
		font-weight: 300;
		letter-spacing: 2px;
	}
    
}

.wrap {
  position: absolute;
  overflow: hidden;
  top: 0%;
  right: 0%;
  bottom: 0px;
  left: 00%;
  padding: 20px 50px;
  display: block;
  border-radius: 0px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}
.wrap .content {
  opacity: 0;
}
.wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: #223;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.wrap.active:before {
  height: 2000px;
  width: 2000px;
  border-radius: none;
  top: 50%;
  left: 40%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.6;
}
.wrap.active .content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}



b.button {
  padding: 11px 11px 11px 11px;
  outline: none;
  border-radius: 50%;
  background: #4658BB;
  color: #fff;
  font-size: 24px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;
  text-decoration: none;
  transition: transform 0.25s;
}
b.button:hover {
  text-decoration: none;
  background: #2198ff;
}
b.button.active {
  transform: rotate(270deg);
  transition: transform 0.5s;
}



.container{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50%;
}
.progressbar li{
  float: left;
  width: 15%;
  position: relative;

}
.progressbar{
  counter-reset: step;
}
.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
  top: 60%;
}
.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.bt2 {
  background-color: Transparent;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 32px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  outline: none;
  overflow: hidden;
  font-family: Lato;
  position: fixed;
  top: 91%;
  left: 53%;
}


.box {
  font-family: Lato;
  font-size:32px;
  width: 40%;
  background: none;
  padding: 35px;
  border: none;
  border-radius: 0%;
  background-clip: none;
  text-align: center;
  position:fixed;
  top: 88.5%;
  left: 23%;
}

.button_contact {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 0%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  outline: none;
  overflow: hidden;
}
/*
.button_contact:hover {
  background: #06D85F;
}
*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(0, 0, 0, 0.7);*/
  background: none;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  text-align: center;
  height: 15px;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: none;
  background: #fff;
  border-radius: 5px;
  width: 20%;
  height: 17%;
  position: relative;
  transition: all 5s ease-in-out;
  position: fixed;
  top: 65%;
  left: 33%;
}

.popup h4 {
  /*margin-top: 80px;*/
  color: #333;
  font-family: Lato;
  font-size: 20px;
  color: #307eff;
}
/*
.popup h5 {
  /*margin-top: 20px;
  color: #333;
  font-family: Lato;
  font-size: 20px;
}
*/
.popup .close {
  margin-top: -15px;
  margin-right: -10px;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  background: Transparent;
  color: black;
  text-decoration: none;
  opacity: 1;
}
.popup .close:hover {
  color: #black;
}
.popup .content {
  max-height: 100%;
  overflow: auto;

  
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}